export NODE_OPTIONS="--require ${PWD}/.config/suppress-experimental-warnings.cjs --loader=@esbuild-kit/esm-loader --enable-source-maps"

if declare -Ff use_nvm >/dev/null; then
  use nvm package.json
fi

export OPENAI_API_KEY=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
export PINECONE_API_KEY=88d71d42-3e15-4b88-b38e-bca940863e93
export PINECONE_ENVIRONMENT=us-east1-gcp
export PINECONE_INDEX_NAME=from-js-to-rust-pdf-index-2
export PINECONE_NAMESPACE=from-js-to-rust-pdf-namespace
